.menu__title {
  margin: 1rem;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-height: 400px;
  overflow: auto;
}

.actionCart {
  margin: 1rem;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  ul {
    padding: 0;
    li {
      list-style-type: none;
      margin: 1rem;
    }
  }
}
